{% extends "tracker/layout.html" %}
{% block head %}
<style>
    .profile-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .profile-info {
        text-align: center;
    }

    .profile-info img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 15px;
        border: 4px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .profile-info h2 {
        font-size: 24px;
        margin-bottom: 5px;
        color: #333;
    }

    .profile-info p {
        font-size: 16px;
        color: #666;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="profile-container">
    <div class="profile-info">
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
        <p>Member since: {{ user.date_joined }}</p>
        <p>user emial: {{ user.email }}</p>
        <p>user phone: {{user.profile.phone_number}}</p>
        <!-- Add more user information as needed -->
    </div>
</div>
{% endblock %}


